html,body{
    width: 100%;
    height: 100%;
}
.login-bg{
    position: relative;
    left:0;
    top:0;
    width: 100%;
    height: 100%;
    background: url("../images/login-bg.png") no-repeat center center;
    background-size: cover;
}
.login-box{
    padding:20px;
    margin-top: 30%;
    border-radius: 8px;
    opacity: .7;
    background:rgba(255,255,255,0.7);
}
.login-title{
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
    padding:0 20px 20px 20px;
}







